<!DOCTYPE html>
<html>
<head>
	<title>collab-sequencer</title>
	<link rel='stylesheet' href='/stylesheets/style.build.css' />
	<script data-main="/javascripts/app" src="/javascripts/libs/requirejs/require.js"></script>
</head>
<body>

	<div id="app">
		<h1>collab-sequencer</h1>


	</div>
</body>
</html>